<!--<h1>All Germany</h1>-->
<!--<table>-->
<!--    --><?php //foreach ($this->all_germany as $data) : ?>
<!--        <tr>-->
<!--            --><?php //foreach ($data as $title => $value) : ?>
<!--                <td>--><?php //echo $value; ?><!--</td>-->
<!--            --><?php //endforeach; ?>
<!--        </tr>-->
<!--    --><?php //endforeach; ?>
<!--</table>-->