<?php if(count($this->errors)): ?>
    <div class="notifications">
        <ul>
            <?php foreach ($this->errors as $key=>$err): ?>
            
                <?php if (is_array($err)): ?>
                    <li><strong><?php echo $key; ?> errors:</strong></li>
                    <?php foreach ($err as $custom_err): ?>
                        <li>line: <?php echo $custom_err['line']; ?>; <?php echo $custom_err['msg']; ?></li>
                    <?php endforeach; ?>
                <?php else: ?>
                    <li><?php echo $err; ?></li>
                <?php endif; ?>
                    
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
