<!DOCTYPE html>
<html>
    <head>
        <?php
            echo $this->headMeta();
            echo $this->headTitle();
            echo $this->headLink();
            echo $this->headScript();
        ?>
    </head>
    <body>
        <div class="container">
            <?php echo $this->layout()->messages; ?>
            <?php echo $this->layout()->content; ?>
        </div>
    </body>
</html>
